.relateWrapper {
  width: min(1000px, 85vw);
}

.cardWrapper {
  border: 1px solid black;
  border-radius: 1.5%;
  width: 250px;
  height: 300px;
  margin: 5px;
  background-color:white;
  box-shadow: 0px 1px 4px 3px rgb(95, 161, 172);
}

.relative {
  position: relative;
}

.cardBtn {
  position: absolute;
  right: 1px;
  top: 1px;
}

.cardImgWrapper {
  height: 200px;
  background-color: black;

}

.cardImg {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.cardDetail {
  padding-left: 5px;
}

.cardDetailWrapper {
  background-color: white;
}

.stars {
  width: 100%;
  height: 100%;
}

.starsFill {
  z-index: 0;
  width: 175px;
  height: 25px;
  position: absolute;
  background-color: gray;
}

.starsWrapper {
  z-index:1;
  width: 175px;
  height: 25px;
  position: absolute;
}

.scrollLeft {
  padding-left: 10px;
  top: 125px;
}

.scrollRight {
  padding-right: 10px;
  top: 125px;
}

.scrollBtn {
  font-size: 2rem;
  position:absolute;
}

.relatedCards, .outfitCards{
  display: flex;
  overflow-x: hidden;
  cursor: grab;
}

.left {
  left: 1%;
}

.right {
  right: 1%;
}

.addOutfitWrapper {
  display: block;
  border: 1px solid black;
  border-radius: 1.5%;
  width: 250px;
  height: 300px;
  margin: 5px;
  background-color: gray;

}

.addOutfitIcon {
  width: 250px;
  font-size: 10rem;
  text-align: center;

}

.addOutfitText {
  width: 250px;
  font-size: 2rem;
  text-align: center;
  padding-top: 30px;

}

.modalBtn {
  position: absolute;
  bottom: 1px;
}

.modalWrapper {
  background-color: rgba(0,0,0,0.5);
  backdrop-filter: blur(4px);
  position:fixed;
  z-index: 10;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalContent {
  background-color: #eeffff;
  position:relative;
  width: 405px;
  height: 200px;
  border: 1px solid black;
  overflow-y:auto;
}

.relatedTitle {
  margin-left: 10px;
}

table {
  border-spacing: 0;
}

thead {
  position:sticky;
  top:0;
  background-color:#ccfffd;
}

tr {
  align-items: center;
  justify-content: center;
}

th {
  text-align: center;
  width:135px;
}

td {
  text-align: center;
  width:135px;
  height:40px;
}