.ratingsAndReviews {
  display: flex;
}

.leftReviews, .rightReviews {
  border: solid 1px black;
}

.reviewRecommendation::before {
  background-image: url(./resources/account-check-outline.png);
  background-size: 22px 22px;
  display: inline-block;
  width: 22px;
  height: 22px;
  content:"";
  vertical-align: text-bottom;
}

.sellerResponse {

}

.reviewHeader {
  display: flex;
  justify-content: space-between;
}

.reviewUser {
  display: flex;
  gap: 6px;
}

.reviewFooter {
  display: flex;
  gap: 6px;
}

.star-rating button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.star-rating .on {
  color: #000;
}
.star-rating .off {
  color: #ccc;
}