.ratingsAndReviews {
  display: flex;
  max-height: 100vh;
}

.leftReviews, .rightReviews {
  border: solid 1px black;
}

.reviewList {
  overflow: scroll;
  max-height: 95vh;
}

.reviewRecommendation::before {
  background-image: url(./resources/account-check-outline.png);
  background-size: 22px 22px;
  display: inline-block;
  width: 22px;
  height: 22px;
  content:"";
  vertical-align: text-bottom;
}

.sellerResponse {

}

.reviewHeader {
  display: flex;
  justify-content: space-between;
}

.reviewUser {
  display: flex;
  gap: 6px;
}

.reviewFooter {
  display: flex;
  gap: 6px;
}

.modalImageThumbnail {
  height: 100px;
  width: auto;
}

.modalImage {
  max-width: 90vw;
  height: auto;
}

.grayModalBackground {
  position: fixed;
  /* fill the screen */
  height: 100vh;
  width: 100vw;
  /* center/create background */
  left: 0;
  top: 0;
  background-color: rgba(100, 100, 100, 0.852);
  /* center image */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2vmin;
}

.closeModalImage {
  height: 5vmin;
  width: 5vmin;
  background-color: rgb(168, 168, 168);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3vmin;
}

.reviewImagesContainer {
  display: flex;
}

/* Star Rating Styling */
.star-rating button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.star-rating .on {
  color: #000;
}
.star-rating .off {
  color: #ccc;
}