.thumbnailMain {
  display:block;
  width: 100px;
  height: 100px;
  border-radius:1%;
  border: solid .25em #97d1cf;
  flex-wrap: wrap;
  margin-top: 1vh;
  cursor: pointer;

}

.thumbnailWrapper {
  position: absolute;
  left: 2vw;
  max-height: 85vh;
  overflow-y: scroll;
}

.thumbnailWrapper::-webkit-scrollbar {
  width: 0;
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.thumbnailWrapper {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.mainImg {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.mainImgWrapper {
  position: relative;
  display:flex;
  min-width:50vw;
}

.galleryWrapper {
  width: 65vw;
  height: 85vh;
  display:flex;
  background-color: black;
  position: relative;
}

.productDetailWrapper {
display: flex;
}

.detailWrapper {
  width:100%;
  min-width: 20vw;
}

.infoWrapper {
  position: relative;
}