.thumbnailMain {
  display:block;
  width: 100px;
  height: 100px;
  border-radius:1%;
  border: solid .25em #97d1cf;
  flex-wrap: wrap;
  margin-top: .5vh;
  margin-bottom: .5vh;
  cursor: pointer;

}

.thumbnailWrapper {
  position: absolute;
  left: 2vw;
  max-height: 85vh;
  overflow-y: scroll;
}

.thumbnailWrapper::-webkit-scrollbar {
  width: 0;
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.thumbnailWrapper {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.styleThumbnail {
  width: min(75px, 5vw);
  height: min(75px, 5vw);
  border-radius:100%;
  border: solid .25em #97d1cf;
  flex-wrap: wrap;
  margin-top: .5vh;
  margin-bottom: .5vh;
  cursor: pointer;
  position: relative;
}

.styleThumbnailWrapper {
  width: 250px;
}

.mainImg {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.mainImgWrapper {
  position: relative;
  display:flex;
  width: min(700px, 50vw);
}

.galleryWrapper {
  width: 65vw;
  height: 85vh;
  display:flex;
  background-color: black;
  position: relative;
}

.productDetailWrapper {
display: flex;
}

.detailWrapper {
  width:100%;
  min-width: 20vw;
  padding-left: 1vw;
}

.infoWrapper {
  position: relative;
  height: 30vh;
}

.infoDetailCategory {
  position: relative;
  color:teal;
  font-size: 1.25rem;
  margin-top: 2vh;
}
.infoDetailName {
  position: relative;
  color:#2088ff;
  font-size: 2rem;
  margin-top: 2vh;
}
.infoDetailPrice {
  margin-top: 2vh;
}



